# Defaults
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
# Compiled binaries
*.bundle
*.so
*.o
*.a

# logs
*.log

# Github commit messages
.gitmsg

# Benchmark code till I find an alternative way that doesn't piss off
# rake-compiler
/bench/